<!-- templates/rolodex/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Rolodex</title>
</head>
<body>
    <h1>My Rolodex</h1>
    <a href="{% url 'add_person' %}">Add Person</a>
    <a href="{% url 'logout' %}">Logout</a>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Organization</th>
                <th>Hobby</th>
                <th>Date of Birth</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Interests</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.organization }}</td>
                <td>{{ person.hobby }}</td>
                <td>{{ person.date_of_birth }}</td>
                <td>{{ person.phone_number }}</td>
                <td>{{ person.mail }}</td>
                <td>{{ person.interests }}</td>
                <td>{{ person.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
